@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
	font-family: 'Noto Sans KR', sans-serif;
}

.sidenav {
	width: 23vw;
	position: fixed;
	z-index: 1;
}

.topnav {
	
}

.col_menu {

}

.main {
	           
}

.main_small {

}

.rounded-A {
	border-radius: 1rem;
}

/* Blue Version */

.bg-A {
	background-color: #212440;
}

.bg-B {
	background-color: #262948;
}

.bg-C {
	background-color: #2e3257;
}

/* Wood Version

.bg-A {
	background-color: #402e28;
}

.bg-B {
	background-color: #48342d;
}

.bg-C {
	background-color: #563f36;
}

*/

/* Black Version

.bg-A {
	background-color: #343434;
}

.bg-B {
	background-color: #3d3d3d;
}

.bg-C {
	background-color: #4d4d4d;
}

*/

h1 {
	font-size: calc(1rem + 3vw);
	font-weight: 900;
}

h2 {
	font-size: calc(1rem + 1.2vw);
	font-weight: 900;
}

h3 {
	font-size: calc(1rem + 0.5vw);
	font-weight: 700;
}

h4 {
	font-size: calc(1rem + 0.3vw);
	font-weight: 500;
}